* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
   
}


.navbar li:nth-child(1):hover~span {
    top: 0;

}

.navbar li:nth-child(2):hover~span {
    top: 20%;
}

.navbar li:nth-child(3):hover~span {
    top: 40%;
}

.navbar li:nth-child(4):hover~span {
    top: 60%;
}

.navbar li:nth-child(5):hover~span {
    top: 80%;
}

/*  */
.box .face {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    /* background-color: red; */

}

.box .face.face1 {
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1;
}

.box:hover .face.face1 {
    transform: translateX(-1200px);
}

/*3 card */
.card {
    background: #191c29;
    position: relative;
    /* box-shadow: 2px 2px 2px 2px #3b444b */
    /* , inset 2px 2px 2px 2px #000036   ; */

}

.port-box {
    background-color: #191c29;
    /* box-shadow: 1px 1px 2px 2px #3b444b */
}

/* .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1%;
    height: 100%;
    width: 1%;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3, #4e00c2);
    z-index: -1;
    animation: spin 4s linear infinite;
} */

/* .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: -1%;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3, #4e00c2);
    z-index: -1;
    filter: blur(2px);
    animation: spin 4s linear infinite;

} */

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }

}

/* form */
form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

input,
textarea {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
}

input[type="submit"] {
    background-color: #191c29;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}